*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#f5f7fb;

}

/* HEADER */

.header{

    width:100%;

    background:#fff;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 60px;

}

.logo{

    display:flex;

    align-items:center;

    gap:10px;

    color:#2d7ef7;

    font-weight:bold;

    font-size:22px;

}

.search{

    width:45%;

    display:flex;

}

.search input{

    width:100%;

    padding:12px;

    border:1px solid #ddd;

    border-radius:8px 0 0 8px;

    outline:none;

}

.search button{

    width:55px;

    border:none;

    background:#2d7ef7;

    color:#fff;

    border-radius:0 8px 8px 0;

    cursor:pointer;

}

.header-icons{

    display:flex;

    align-items:center;

    gap:25px;

    font-size:20px;

}

.header-icons img{

    width:40px;

    height:40px;

    border-radius:50%;

}

/* MENU */

.menu{

    display:flex;

    justify-content:center;

    gap:40px;

    background:#fff;

    padding:15px;

}

.menu a{

    text-decoration:none;

    color:#444;

    font-weight:600;

}

.menu a:hover{

    color:#2d7ef7;

}

/* BANNER */

.banner{

    width:92%;

    height:430px;

    margin:30px auto;

    border-radius:20px;

    overflow:hidden;

    background:url("../img/banner/banner01.jpg") center center/cover;

    display:flex;

    align-items:center;

    padding-left:70px;

}

.banner-info{

    width:450px;

    color:#fff;

}

.banner small{

    color:#8fd0ff;

    letter-spacing:2px;

}

.banner h1{

    font-size:48px;

    margin:20px 0;

}

.banner p{

    line-height:28px;

    margin-bottom:25px;

}

.buttons{

    display:flex;

    gap:15px;

}

.primary{

    background:#2d7ef7;

    color:#fff;

    border:none;

    padding:15px 30px;

    border-radius:10px;

    cursor:pointer;

}

.secondary{

    background:#ffffff30;

    color:#fff;

    border:none;

    padding:15px 30px;

    border-radius:10px;

    backdrop-filter:blur(10px);

    cursor:pointer;

}

/* BENEFÍCIOS */

.benefits{

    width:92%;

    margin:auto;

    background:#fff;

    border-radius:20px;

    display:flex;

    justify-content:space-around;

    padding:30px;

}

.benefit{

    display:flex;

    align-items:center;

    gap:20px;

}

.benefit i{

    width:55px;

    height:55px;

    background:#e8f2ff;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#2d7ef7;

    font-size:20px;

}

.benefit h4{

    margin-bottom:5px;

}

.benefit p{

    color:#777;

    font-size:14px;

}

/*==========================
BANNER PROMOCIONAL
==========================*/

.promo-banner{

    width:92%;
    margin:60px auto;

    height:250px;

    border-radius:22px;

    overflow:hidden;

    display:flex;

    background:#101828;

}

.promo-text{

    width:50%;

    padding:45px;

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.promo-text h2{

    font-size:38px;
    margin-bottom:15px;

}

.promo-text p{

    color:#bfc7d3;
    line-height:28px;
    margin-bottom:35px;

}

.promo-text strong{

    color:#2d7ef7;

}

.promo-bottom{

    display:flex;
    align-items:center;
    gap:30px;

}

.promo-bottom button{

    border:none;

    background:#2d7ef7;

    color:white;

    padding:14px 30px;

    border-radius:8px;

    cursor:pointer;

}

.promo-bottom span{

    color:#cfcfcf;
    font-size:14px;

}

.promo-image{

    width:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:url("../img/banner/bg-banner2.jpg");

    background-size:cover;

}

.promo-image img{

    width:250px;

}

/*==========================
SEÇÕES
==========================*/

.products-section{

    width:92%;
    margin:45px auto;

}

.section-title{

    margin-bottom:25px;

}

.section-title h2{

    font-size:36px;

}

.section-title p{

    color:#777;

}

/*==========================
GRID
==========================*/

.products-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}

/*==========================
CARD
==========================*/

.product-card{

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 8px 20px rgba(0,0,0,.06);

    transition:.3s;

}

.product-card:hover{

    transform:translateY(-6px);

}

.product-image{

    height:220px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#fafafa;

}

.product-image img{

    width:150px;

}

.product-info{

    padding:18px;

}

.product-name{

    height:55px;

    font-size:15px;

    color:#444;

}

.product-price{

    color:#2d7ef7;

    font-size:28px;

    font-weight:bold;

    margin:15px 0;

}

.product-btn{

    width:100%;

    border:none;

    padding:13px;

    border-radius:8px;

    background:#2d7ef7;

    color:white;

    cursor:pointer;

}

.product-tag{

    position:absolute;

    margin:12px;

    background:#45b6ff;

    color:white;

    font-size:11px;

    padding:4px 10px;

    border-radius:30px;

}

.product-image{

    position:relative;

}

/*==========================
FOOTER
==========================*/

.footer{

    width:100%;

    background:#fff;

    margin-top:70px;

    border-top:1px solid #ececec;

}

.footer-container{

    width:92%;

    margin:auto;

    padding:60px 0;

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1.5fr;

    gap:50px;

}

.footer-logo{

    display:flex;

    align-items:center;

    gap:10px;

    font-size:24px;

    font-weight:bold;

    color:#2d7ef7;

    margin-bottom:20px;

}

.footer-column p{

    color:#777;

    line-height:28px;

    margin-bottom:25px;

}

.footer-column h3{

    margin-bottom:22px;

    font-size:18px;

    color:#222;

}

.footer-column a{

    display:block;

    color:#666;

    text-decoration:none;

    margin-bottom:12px;

    transition:.3s;

}

.footer-column a:hover{

    color:#2d7ef7;

    padding-left:6px;

}

.social-icons{

    display:flex;

    gap:15px;

}

.social-icons a{

    width:42px;

    height:42px;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    background:#f4f6fa;

    color:#2d7ef7;

    transition:.3s;

}

.social-icons a:hover{

    background:#2d7ef7;

    color:#fff;

}

.newsletter{

    display:flex;

    margin-top:20px;

}

.newsletter input{

    flex:1;

    padding:14px;

    border:1px solid #ddd;

    border-radius:8px 0 0 8px;

    outline:none;

}

.newsletter button{

    width:60px;

    border:none;

    background:#2d7ef7;

    color:#fff;

    border-radius:0 8px 8px 0;

    cursor:pointer;

}

.footer-bottom{

    width:92%;

    margin:auto;

    border-top:1px solid #ececec;

    padding:25px 0;

    display:flex;

    justify-content:space-between;

    align-items:center;

    color:#999;

    font-size:14px;

}